name: CI

on:
  push:
    branches: [main, dev]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install root deps
        run: npm install

      - name: Install webapp deps
        run: npm install --workspace webapp

      - name: Install backend deps
        run: npm install --workspace backend

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build
